// Page Title
//--------------------------------------------------
#pagetitle {
	background-color: #fefefe;
	padding: 37px 0;
	.page-title-inner {
		.cms-breadcrumb{
			color: #9b9b9b;
		}
		&.breadcrumb-on{
			margin: 0 auto;
			.cms-breadcrumb{
				text-align: center;
			}
		}

	}
	.page-title {
		margin-bottom: 0;
		font-size: 48px;
		line-height: 55px;
		@media #{$max-sm} {
			font-size: 40px;
			line-height: 1.15;
		}
	}
}
.cms-breadcrumb {
	margin: 0;
	list-style: none;
	color: #f9f9f9;
	li {
		display: inline-block;
		font-size: 14px;
		color: inherit;
		a, span {
			color: inherit;
			&:after {
				content: '\f105';
				font-family: FontAwesome;
				margin: 0 11px;
				color: inherit;
			}
			&:hover {
				color: $primary_color;
				&:after {
					color: inherit;
				}
			}
		}
		&:last-child {
			a, span {
				&:after {
					display: none;
				}
			}
		}
	}
}